@model IEnumerable<DisasterDonationAlleviationApp.Models.GoodsDonation>
<h2>Goods Donations</h2>

<table class="table">
    <thead>
        <tr>
            <th style="background-color: #333; color: #fff;">Date</th>
            <th style="background-color: #333; color: #fff;">Number of Items</th>
            <th style="background-color: #333; color: #fff;">Category</th>
            <th style="background-color: #333; color: #fff;">Description</th>
            <th style="background-color: #333; color: #fff;">Anonymous</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var donation in Model)
        {
            <tr>
                <td>@donation.Date.ToShortDateString()</td>
                <td>@donation.NumberOfItems</td>
                <td>@donation.Category</td>
                <td>@donation.Description</td>
                <td>@(donation.IsAnonymous ? "Yes" : "No")</td>
            </tr>
        }
    </tbody>
</table>
